@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-family: sans-serif;
}
body header {
  display: flex;
  width: 100%;
  animation-name: desplazar;
  animation-duration: 2s;
}
@keyframes desplazar {
  0% {
    transform: translate(0, -80px);
  }
  100% {
    transform: translate(0, 0);
  }
}
body nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 8rem;
  align-items: center;
  width: 100%;
  padding: 24px;
}
body nav .logo h1 {
  font-size: 48px;
}
body nav .navbar-list {
  display: none;
  gap: 16px;
  list-style: none;
}
body nav .navbar-list a {
  text-decoration: none;
  color: #111111;
}
body nav .navbar-list a:hover {
  text-decoration: underline;
}
body nav .navbar-list .modo-oscuro-claro {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/moon.svg");
  background-size: cover;
}
body nav .navbar-list .modo-oscuro-claro:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform;
  transition-duration: 1s;
}
body nav .menu-hamburguesa-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/icons/menu-hamburguesa.svg");
  background-size: cover;
}
body nav .menu-hamburguesa {
  display: none;
  position: absolute;
  right: 20px;
  top: 72px;
  width: 150px;
  height: auto;
  padding: 20px 0;
  justify-items: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 12px;
  gap: 16px;
  list-style: none;
}
body nav .menu-hamburguesa a {
  text-decoration: none;
  color: #111111;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  animation-name: aparecer;
  animation-duration: 2s;
}
@keyframes aparecer {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
main .hero {
  width: 100%;
  padding: 24px;
  font-size: 8rem;
}
main .hero .imagen-perfil {
  max-width: 250px;
  min-width: 150px;
  max-height: 250px;
  min-height: 150px;
  margin: 0 auto 50px;
  border-radius: 50%;
  overflow: hidden;
}
main .hero .imagen-perfil img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero .hero-body {
  width: 300px;
  height: 300px;
  line-height: 52px;
}
main .hero .hero-body p {
  margin-bottom: 20px;
}
main .hero .hero-body .botones {
  display: flex;
  gap: 20px;
  width: 100%;
}
main .hero .hero-body .botones button {
  display: none;
  border: none;
  max-width: 152px;
  min-width: 120px;
  font-size: 1.6rem;
  height: 60px;
  border-radius: 12px;
}
main .hero .hero-body .botones button:hover {
  cursor: pointer;
}
main .hero .hero-body .botones .boton-azul {
  display: none;
  background-color: #007BFF;
  color: #FFFFFF;
}
main .hero .hero-body .botones .boton-azul:hover {
  background-color: #004ea1;
}
main .hero .hero-body .botones .boton-blanco {
  background-color: #FFFFFF;
  color: #555555;
  border: 1px solid #555555;
}
main .hero .hero-body .botones .boton-blanco:hover {
  background-color: #555555;
  color: #FFFFFF;
}
main #proyectos {
  width: 100%;
  height: auto;
  padding: 0 24px;
  margin-bottom: 20px;
}
main #proyectos h3 {
  height: auto;
  font-size: 3.6rem;
}
main #proyectos .proyectos-cards-container {
  display: grid;
  grid-template-rows: minmax(430px, 2fr);
  gap: 32px;
  justify-items: center;
  margin-top: 40px;
}
main #proyectos .proyectos-cards-container .card-proyecto {
  max-width: 100%;
  min-width: 220px;
  height: auto;
  min-height: 500px;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  overflow: hidden;
}
main #proyectos .proyectos-cards-container .card-proyecto img {
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #proyectos .proyectos-cards-container .card-proyecto .card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  padding: 20px;
}
main #proyectos .proyectos-cards-container .card-proyecto .card-body h4 {
  display: inline-block;
  height: 20%;
  font-size: 2.4rem;
}
main #proyectos .proyectos-cards-container .card-proyecto .card-body p {
  display: inline-block;
  height: 60%;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
main #proyectos .proyectos-cards-container .card-proyecto .card-body a {
  display: inline-block;
  width: 136px;
  height: 32px;
  align-self: center;
  align-content: center;
  text-align: center;
  background-color: #007BFF;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
}
main #proyectos .proyectos-cards-container .card-proyecto .card-body a:hover {
  background-color: #004ea1;
}
main #sobre-mi {
  padding: 0 24px;
  margin-bottom: 20px;
}
main #sobre-mi .text-container h4 {
  font-size: 3.6rem;
  margin-bottom: 20px;
}
main #sobre-mi .text-container p {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
main #sobre-mi .tecnologías-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
main #sobre-mi .tecnologías-container .html {
  display: inline-block;
  background-image: url("../assets/icons/html5-01-svgrepo-com.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
}
main #sobre-mi .tecnologías-container .html:hover {
  animation-name: movimiento;
  animation-duration: 1s;
}
main #sobre-mi .tecnologías-container .css {
  display: inline-block;
  background-image: url("../assets/icons/css3-01-svgrepo-com.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
}
main #sobre-mi .tecnologías-container .css:hover {
  animation-name: movimiento;
  animation-duration: 1s;
}
main #sobre-mi .tecnologías-container .javascript {
  display: inline-block;
  background-image: url("../assets/icons/javascript-155-svgrepo-com.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
}
main #sobre-mi .tecnologías-container .javascript:hover {
  animation-name: movimiento;
  animation-duration: 1s;
}
main #sobre-mi .tecnologías-container .sass {
  display: inline-block;
  background-image: url("../assets/icons/sass-svgrepo-com.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
}
main #sobre-mi .tecnologías-container .sass:hover {
  animation-name: movimiento;
  animation-duration: 1s;
}
@keyframes movimiento {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
main #contacto {
  padding: 0 24px;
  margin-bottom: 20px;
}
main #contacto h4 {
  font-size: 3.6rem;
  margin-bottom: 20px;
}
main #contacto .formulario-contacto {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
main #contacto .formulario-contacto .inputs-nombre-correo {
  display: flex;
  gap: 8px;
  font-size: 2.4rem;
  font-weight: bold;
  align-items: center;
  margin-bottom: 20px;
}
main #contacto .formulario-contacto .inputs-nombre-correo #name, main #contacto .formulario-contacto .inputs-nombre-correo #email {
  width: 50%;
  height: 50px;
  border: 1px solid #555555;
  border-radius: 12px;
  padding: 12px;
}
main #contacto .formulario-contacto .input-mensaje {
  font-size: 2.4rem;
  font-weight: bold;
}
main #contacto .formulario-contacto .input-mensaje #message {
  width: 100%;
  height: 200px;
  border: 1px solid #555555;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 12px;
}
main #contacto .formulario-contacto .input-mensaje button {
  width: 100px;
  height: 50px;
  background-color: #111111;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 12px;
}
main #contacto .formulario-contacto .input-mensaje button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform;
  transition-duration: 1s;
}
main #contacto .linkedin {
  display: inline-block;
  background-image: url("../assets/icons/linkedin-svgrepo-com.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 32px;
}
main #contacto .linkedin:hover {
  transform: scale(1.1);
  transition: transform;
  transition-duration: 1s;
}
main #contacto .github {
  display: inline-block;
  background-image: url("../assets/icons/github-142-svgrepo-com.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
}
main #contacto .github:hover {
  transform: scale(1.1);
  transition: transform;
  transition-duration: 1s;
}
main footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 24px;
  font-size: 4rem;
}

@media (min-width: 700px) {
  body header {
    padding: 20px 0;
  }
  body header nav .navbar-list {
    display: flex;
  }
  body header nav .menu-hamburguesa-icon {
    display: none;
  }
  body header nav .menu-hamburguesa {
    display: none;
  }
  body main .hero {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
  body main .hero .imagen-perfil {
    margin: 0;
  }
  body main #proyectos .proyectos-cards-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 24px;
    margin: 20px auto;
  }
}
@media (min-width: 1000px) {
  body header nav {
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
  }
  body main #proyectos .proyectos-cards-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 24px;
  }
}/*# sourceMappingURL=main.css.map */